body {
  font-family: sans-serif;
  font-size: 20px;
  color: #333;
}
main {
  width: 100%;
}

a, a:hover, a:visited {
  text-decoration: none;
}

.container {
  width: 80%;
  margin: auto;
}

.post {
  width: 80%;
  text-align: justify;
  margin: 0 auto 40px;
  border-bottom: 2px solid #666;
}

.content {
  padding: 5px;
}

.about {
  font-style: italic;
  width: 40%;
  margin: auto;
}

header {
  text-align: center;
}

.objective {

}

.header h1 {
  font-style: italic;
}

.work {
  color: blue;
}

.work li {
  color: green;
}

.color {
  color:yellow;
}

p.color {
  color:grey;
}

.work span {
  font-weight: bold;
}
